* {
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
    background-color: rgb(215, 188, 234);
}

.form-check-label {
    size: 50rem;
    color: rgb(0, 0, 0);
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}



