* {
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
    background-color: rgb(198, 144, 237);
}

.form-check-label {
    size: 50rem;
    color: rgb(36, 91, 201);
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}



