*{
    background-color: black;
}

.form-check{
    color: aliceblue;

}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 1px;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}